/* -------------------------------- 

Landing Page Style

-------------------------------- */




@font-face {
    font-family:Montserrat;
    src: url(Fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: normal;
}


@font-face {
    font-family:Montserrat-bold;
    src: url(Fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: bold;
}


@font-face {
    font-family:Montserrat-light;
    src: url(Fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: lighter;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
    text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}



body {
     -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
    
    background: #222222;
    
    border-top: solid #333333 70px;

    
}

.landing-page{
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
}

.container {
    text-align: center;
    width: 60%;
    margin: auto;
}

.landing-page h2{
    font-family: "Montserrat-Regular";
    font-weight: normal;
    font-size: 2em;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    letter-spacing: 2px;
}

.landing-page p b{
    font-weight: bold;
    color: #fff;
    color: cornflowerblue;
}

.landing-page p{
    color: #fff;
    letter-spacing: 1px;
    font-weight: lighter;
    font-family: "Montserrat-Light";
    padding-bottom: 3em;
    line-height: 1.5em;
    font-size: 1.1em;
    
}

a {
text-decoration: none;
}


ul.landing-links{
    display: inline;
    font-family: "Montserrat-Regular";
    font-weight: normal;
}

ul.landing-links li{
    display: inline-block;
    padding-right: 2.5em;
    padding-left: 2.5em;
}

ul.landing-links li a{
    color: #fff;
}

ul.landing-links li a:hover{
    text-decoration: line-through; 
}


#mask-img{
    background-repeat: repeat-x;
    
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 40s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; 
    animation-name: p-gradient;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out; 
    
    
}


@-webkit-keyframes p-gradient {
    0% {x: -10px; y:0px;}
    25% {x: -375px; y:0px;}
    50% {x: -375px; y:-190px}
    75% {x: -10px; y:-190px;}
    100% {x: -10px; y:0px;}
} 


@keyframes p-gradient {
    0% {x: -10px; y:0px;}
    25% {x: -375px; y:0px;}
    50% {x: -375px; y:-190px}
    75% {x: -10px; y:-190px;}
    100% {x: -10px; y:0px;}
} 