/* -------------------------------- 

Modal style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #34383c;
  background-color: #ffffff;

}
body.overflow-hidden {
  /* used when modal is visible */
  overflow: hidden;
}


/* -------------------------------- 

Modal Components 

-------------------------------- */

.cd-section {
  
  text-align: center;
    height: 100%;
  
}
.cd-section p {
  margin: 1.5em 0;
  line-height: 1.6;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  .cd-section {
    
  }
  .cd-section p {
    font-size: 1.8rem;
    line-height: 2em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-section {
    
  }
}

.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
}

.cd-modal .cd-modal-content {
  height: 100%;
  width: 100%;
  padding: 8em 10%;
  text-align: left;
  overflow-y: auto;
    font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}
.cd-modal p {
  color: #ffffff;
  line-height: 1.6;
    animation: fadeinUp 3s;
    font-weight: 200;
    
}


.cd-modal-content h1{
    color: #fff;
    letter-spacing: 2px;
    border-left: solid white 5px;
    padding-left: 1em;
    font-size: 1.5em;
    margin-bottom: 2em;
    
}

.cd-modal-content .about-image{
    background: #fff;
    width: 70%;
    display: flex;
}

.about-image b{
    opacity: 0;
    justify-content: center;
    align-self: center;
    margin-left: 20%;
    color: white;
    font-size: 4vw;
    font-family: Montserrat;
    font-weight: 100;
        -webkit-transition:opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition:opacity 0.5s;
}


.about-image img{
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition:opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition:opacity 0.5s;
}

.about-image img:hover{
    opacity: 0.9;
    -webkit-transition:opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition:opacity 0.5s;
}


.about-image img:active{
    opacity: 0.9;
    -webkit-transition:opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition:opacity 0.5s;
}



.about-image img:hover + b{
    opacity: 1;
    -webkit-transition:opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition:opacity 0.5s;
}



.modal-is-visible .cd-modal {
  z-index: 1;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: visibility 0s 0s, opacity 1s 0s, z-index 0s 0s;
  -moz-transition: visibility 0s 0s, opacity 1s 0s, z-index 0s 0s;
  transition: visibility 0s 0s, opacity 1s 0s, z-index 0s 0s;
    /*animation: fadeInUp 0.5s; ANIMATE CONTENT*/ 
}
.modal-is-visible .cd-modal .cd-modal-content {
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 768px) {
  .cd-modal .cd-modal-content {
    padding: 12em 10%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-modal .cd-modal-content {
    padding: 12em 20%;
  }
  .cd-modal p {
    font-size: 2rem;
    line-height: 1.8em;
  }
}

.cd-modal-action {
  position: relative;
    height: 100%;
    display: inline-flex;
    align-items: center;
}
.cd-modal-action .btn, .cd-modal-action .cd-modal-bg {
  display: inline-block;
  height: 4em;
  background-color: black;
}
.cd-modal-action .btn {
  width: 8vw;
    height: 8vw;
  color: #ffffff;
  line-height: 4em;
  white-space: nowrap;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition:height 0.3s, opacity 0.3s, width 0.3s 0s;
  -moz-transition:height 0.3s, opacity 0.3s, width 0.3s 0s;
  transition:height 0.3s, opacity 0.3s, width 0.3s 0s;
}
.cd-modal-action .btn.to-circle {
  width: 5vw;
    height: 6vw;
  opacity:0;
  color: transparent;
  -webkit-transition:height 0.3s, opacity 0.3s, width 0.3s 0.2s;
  -moz-transition:height 0.3s, opacity 0.3s, width 0.3s 0.2s;
  transition:height 0.3s, opacity 0.3s, width 0.3s 0.2s;
}
.cd-modal-action .cd-modal-bg {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 0;
  width: 4em;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(-2em);
  -moz-transform: translateX(-2em);
  -ms-transform: translateX(-2em);
  -o-transform: translateX(-2em);
  transform: translateX(-2em);
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
}
.cd-modal-action .cd-modal-bg.is-visible {
  opacity: 1;
  visibility: visible;
    
}

.cd-modal-close {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
    color: white;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
    opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
    
}
.cd-modal-close:hover {
    opacity: 0.7;
    color: #dddddd;
}

.modal-is-visible .cd-modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);

}
@media only screen and (min-width: 768px) {
  .cd-modal-close {
    top: 70px;
  }
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

