/* -------------------------------- 

Primary style

-------------------------------- */

/*::-webkit-scrollbar { width: 0 !important }

::-webkit-scrollbar
{
  width: 8px; 
  height: 2px;
}

::-webkit-scrollbar-track
{
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb
{
  background-color: rgba(0, 0, 0, 1);
}*/


@font-face {
    font-family:Montserrat;
    src: url(Fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: 200;
}


@font-face {
    font-family:Montserrat;
    src: url(Fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 900;
}


@font-face {
    font-family:Montserrat;
    src: url(Fonts/Montserrat/Montserrat-Thin.ttf);
    font-weight: 100;
}


@font-face {
    font-family:Montserrat;
    src: url(Fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 300;
}


*, *::after, *::before {
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
    	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}



body {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  color: black;
  background-color: white;
     -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-rendering: optimizeLegibility;
    
        animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; 
    -webkit-animation: fadein 1.5s; 
    -o-animation: fadein 1.5s; 
    
    text-rendering: optimizeLegibility;
    
    
}

a {
text-decoration: none;
}


nav a:hover{
    
    color: black;

}

h1, h2 {
    font-weight: 200;
}

/* -------------------------------- 

Pattern

-------------------------------- */
.overflow-hidden {
  overflow: hidden;
}


/* -------------------------------- 

About Page

-------------------------------- */


img.logo {
    background: #222222;
    width: 13%;
    border-radius: 100px;
    padding: .3em;
    min-width: 50px;
    max-width: 90px;
}

.aboutsection{
    padding-top: 6em;
    padding-bottom: 5em;
        display: flex;
    justify-content: center;
    align-items: center; 
}


.aboutwrite{
    padding-top: 1em;
    width: 50%;
    line-height: 2;
    color: #222222;
    font-family: Montserrat;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: .8em;
    text-align: left;
    min-width: 250px;

}

.aboutwrite h1 {
    font-weight: 700;
    font-size: 2em;
    color: #333333
}

.aboutwrite b {
    font-family: "Montserrat";
    color: #1c1c1c;
    font-weight: 900;
}

.aboutwrite i{
    color: darkorange;
    font-weight: 800;
}


/* -------------------------------- 

thanks

-------------------------------- */

.thanks{
    text-align: center;
    padding-top: 1em;
}

.thanks img{
    
    width: 20%;
    min-width: 200px;
    max-width: 450px;
}

.thanks img:hover{
    opacity:0.5;
}




/* -------------------------------- 

CONTACT PAGE

-------------------------------- */





form {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 6em;
    padding-bottom: 6em;
        max-width: 1000px;
    min-width: 300px;
}

form h1{
    font-family: Montserrat;
    font-size: 2em;
    font-weight: 900;
    color: #333333;
}

form input {
    margin-top: 2em;
    width: 60%;
    height: 3em;
    border: solid 1px #cccccc;
}

form .send{
    background: white;
    transition: background .5s;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
}

form .send:hover{
    background: #333333;
    color: white;
}

form textarea {
    width: 60%;
    margin-top: 2em;
    height: 6em;
    resize: none;
    border: solid 1px #cccccc;
}


input:focus, textarea:focus {

    border: solid 1px;
    outline: none;
    
}


p.contact {
    padding-top: 6em;
    font-size: .6em;
    width: 70%;
    margin: auto;
    line-height: 2em;
    font-family: montserrat;
    color: #555555;
    text-align: center;
}

p.contact a {
    font-size: .9em;
    font-weight: 700;
}

p.contact span{
    font-weight: 700;
    color: black;
}



/* -------------------------------- 

Nav

-------------------------------- */
nav {
  height: 75px;
  line-height: 45px;
  text-align: center;
  background: white;
    padding-top: .7em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    /*background-image: url(images/gridme.png);*/
    font-family: sans-serif;
    /*padding-top: 30px;*/
    position: relative;
    min-height: 75px;
    max-height: 75px;
    /*border-bottom: solid darkgray;*/
}


/* Responsive nav bar */

@media only screen and (max-width: 575px){
    
    h1 a {
        float: none !important;
    }
    
    ul.top-bar {
        text-align: center !important;
        float: none !important;
    }
    
    nav {
        
        padding-right: 0 !important;
        padding-left: 0 !important;
        
    }
    
    img.title {
        
        width: 90% !important;
    }
    
    
    
}





h1 a {
font-family: Montserrat, monospace;
  font-size: .9em;
  color: #555555;
    float: left;
    letter-spacing: .3em;
}

nav h2 {
    
    color: darkgray;
    font-weight: 100;
    
}

nav h2 b {
    font-weight:900;
}



.close {
    color: darkgray;
    line-height: 25px;
    position: absolute;
    right: -1px;
    text-align: center;
    top: -1px;
    width: 24px;
    text-decoration: none;
    font-weight: 500;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

}

ul.top-bar li {
    display: inline-block;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-family: Montserrat, monospace;
    font-weight: 200;
    letter-spacing: 4px;
    font-size: .5em;
    /*color: #777777;*/
}

ul.top-bar a{
    color: #555555;
}

ul.top-bar a:hover{
    color: black;
}

ul.top-bar {
    text-align: right;
    float:right;
    
}


ul.contact li{
    
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    font-size: .8em;
    padding-top: 10px;
    padding-bottom: 20px;
}

ul.contact li a{
    color: orange;
    font-weight: bolder;
    
}

.modalDialog img{
    
    width: 60%;
    min-width: 200px;
    max-width: 300px;
    border: solid;
    border-radius: 300px;
    border-width: thick;
    border-color: white;
    padding: 20px;
    
    
}


.modalDialog h2{
    font-weight: 300;
    font-size: 1.5em;
}

nav p{
    
    font-size: .7em;
    line-height: 30px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    text-align: center;

    
}

nav img{
    width: 18%;
    min-width: 75px;
    max-width: 80px;
}


@media only screen and (min-width: 800px) {
  nav {
    height: 70px;
      min-height: 70px;
      max-height: 70px;
      
  }
    

    nav img{
        width: 6%;
        min-width: 75px;
        max-width: 80px;
    }
}


.pvc-goals {
    
    padding-bottom:1em;
    
}

.pvc-goals li{
    display: inline;
padding: .5em;
}

.pvc-goals img{
    width: 30%;
}


/* -------------------------------- 

Footer

-------------------------------- */

footer {
  height: 75px;
  line-height: 45px;
  background: #ffffff;
    font-family: Montserrat;
    text-align: center;
    font-weight: 200;
    letter-spacing: 5px;
    position: relative;
    min-height: 75px;
    max-height: 75px;
    bottom:0px;
    text-transform: uppercase;
    font-size: .7em;
    

    
}

footer a:hover {
    color: black;
}

footer a{
    color: #777777;
}

footer h1 {
  font-size: 3rem;
  color: black;
    float: left;
    padding-left: 1em;
    padding-top: .6em;
    letter-spacing: 2px;
}


@media only screen and (min-width: 600px) {
  footer {
    height: 200px;
  }
  footer h1 {
    font-size: 2rem;
  }
}


footer ul li {
    display: inline-block;
    padding: 1em;
    font-size: .8em;
    padding-top: 2em;
}


/* -------------------------------- 

Main content

-------------------------------- */
.cd-main {
  overflow-x: hidden;
}
.cd-main::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
.cd-main > * {
  -webkit-transition: -webkit-transform 0.5s 0.4s;
  -moz-transition: -moz-transform 0.5s 0.4s;
  transition: transform 0.5s 0.4s;
}
.cd-main.fold-is-open > * {
  /* on mobile - translate .cd-main content to the right when the .cd-folding-panel is open */
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s 0s;
  -moz-transition: -moz-transform 0.5s 0s;
  transition: transform 0.5s 0s;
}
@media only screen and (min-width: 600px) {
  .cd-main.fold-is-open > * {
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -o-transform: translateX(600px);
    transform: translateX(600px);
  }
}
@media only screen and (min-width: 1100px) {
  .cd-main::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
  .cd-main.fold-is-open > * {
    /* reset style - on bigger devices we translate the gallery items */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.cd-gallery::after {
  clear: both;
  content: "";
  display: table;
    
}
.cd-gallery::before {
  /* this is the dark layer covering the .cd-gallery when the .cd-folding-panel is open */
  display: block;
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*background-color: rgba(0, 0, 0, 0.4);*/
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s 0.5s, visibility 0s 0.5s;
  -moz-transition: opacity 0.5s 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s 0.5s, visibility 0s 0.5s;
}
.fold-is-open .cd-gallery::before {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.5s 0s, visibility 0s 0s;
  transition: opacity 0.5s 0s, visibility 0s 0s;
}

.cd-item {
  width: 100%;
  height: 300px;
  text-align: center;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s 0.4s;
  -moz-transition: -moz-transform 0.5s 0.4s;
  transition: transform 0.5s 0.4s;
}
.cd-item > a {
  display: table;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-item > a.dark-text {
  color: black;
}
.cd-item > a.dark-text b {
  border-color: black;
}
.cd-item div {
  display: table-cell;
  vertical-align: middle;
}

/*img.background {
    position: fixed;
    width: 100%;
}*/


.cd-item:nth-of-type(1) {
  background-color: #222222;
    background-image: url(images/zlauncher-cover.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}


.cd-item:nth-of-type(2) {
  background-color: #222222;
    background-image: url(images/capacity-cover.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.cd-item:nth-of-type(3) {
    background-color: #f8f8f8;
    background-image: url(images/hylo-cover.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}



.cd-item:nth-of-type(4) {
  background-color: #f8f8f8;
    background-image: url(images/pvc-cover.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

/*.cd-item:nth-of-type(5) {
    background-color: black;
    background-image: url(images/unight-background.jpg);
    background-size: cover;
    background-position: center;
}

.cd-item:nth-of-type(6) {
    background-color: black;
    background-image: url(images/cs-arcade.jpg);
    background-size: cover;
    background-position: center;
}*/


.cd-item p {
  line-height: 1.2;
  font-size: 1.4rem;
  opacity: 0.6;
  padding: 1em 0;
}
.cd-item b {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1em 1.3em;
  border-radius: 50em;
  border: 1px solid #ffffff;
}
@media only screen and (min-width: 1100px) {
  .cd-item {
    width: 50%;
    float: left;
    height: 520px;
    -webkit-transition: -webkit-transform 0.5s 0.4s;
    -moz-transition: -moz-transform 0.5s 0.4s;
    transition: transform 0.5s 0.4s;
  }
  .cd-item h2 {
    font-size: 3rem;
  }
  .cd-item p {
    font-size: 1.6rem;
  }
  .cd-item h2, .cd-item p {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: -webkit-transform 0.3s 0.1s;
    -moz-transition: -moz-transform 0.3s 0.1s;
    transition: transform 0.3s 0.1s;
    /*opacity: 0;  ------------------------------------------------------------------------>THIS ONE */
  }
  .cd-item b {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
    -moz-transition: opacity 0.3s 0s, -moz-transform 0.3s 0s;
    transition: opacity 0.3s 0s, transform 0.3s 0s;
  }
  .no-touch .cd-item a:hover h2, .no-touch .cd-item a:hover p {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s;
    transition: transform 0.3s 0s;
  }
  .no-touch .cd-item a:hover b {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.3s 0.1s, -webkit-transform 0.3s 0.1s;
    -moz-transition: opacity 0.3s 0.1s, -moz-transform 0.3s 0.1s;
    transition: opacity 0.3s 0.1s, transform 0.3s 0.1s;
  }
  .fold-is-open .cd-item {
    -webkit-transition: -webkit-transform 0.5s 0s;
    -moz-transition: -moz-transform 0.5s 0s;
    transition: transform 0.5s 0s;
    -webkit-transform: translateX(-400px);
    -moz-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
    -o-transform: translateX(-400px);
    transform: translateX(-400px);
  }
  .fold-is-open .cd-item:nth-of-type(2n) {
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    -ms-transform: translateX(400px);
    -o-transform: translateX(400px);
    transform: translateX(400px);
  }
}

/* -------------------------------- 

folding panel

-------------------------------- */
.cd-folding-panel {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: visibility 0s 0.9s;
  -moz-transition: visibility 0s 0.9s;
  transition: visibility 0s 0.9s;
}
.cd-folding-panel .fold-left,
.cd-folding-panel .fold-right {
  /* the :after elements of .fold-left and .fold-right are the 2 fold sides */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* enable a 3D-space for children elements */
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
.cd-folding-panel .fold-left::after,
.cd-folding-panel .fold-right::after {
  /* 2 fold sides */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.5s 0.4s, background-color 0.5s 0.4s;
  -moz-transition: -moz-transform 0.5s 0.4s, background-color 0.5s 0.4s;
  transition: transform 0.5s 0.4s, background-color 0.5s 0.4s;
}
.cd-folding-panel .fold-right {
  -webkit-perspective-origin: 0% 50%;
  -moz-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}
.cd-folding-panel .fold-right::after {
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: translateX(-100%) rotateY(-90deg);
  -moz-transform: translateX(-100%) rotateY(-90deg);
  -ms-transform: translateX(-100%) rotateY(-90deg);
  -o-transform: translateX(-100%) rotateY(-90deg);
  transform: translateX(-100%) rotateY(-90deg);
  background-color: white;
}
.cd-folding-panel .fold-left {
  /* on mobile only the right fold side is visible */
  display: none;
}
.cd-folding-panel .fold-left::after {
  background-color: white;
}
.cd-folding-panel .cd-close {
  /* 'X' close icon */
  position: absolute;
  z-index: 1;
  display: inline-block;
  top: 10px;
  right: 10px;
  height: 44px;
  width: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s;
  -moz-transition: opacity 0.2s 0s;
  transition: opacity 0.2s 0s;
}
.cd-folding-panel .cd-close::after, .cd-folding-panel .cd-close::before {
  /* lines of 'X' icon */
  content: '';
  position: absolute;
  height: 3px;
  width: 32px;
  left: 50%;
  top: 50%;
  background-color: black;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.cd-folding-panel .cd-close::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.cd-folding-panel .cd-close::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.cd-folding-panel.is-open {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-folding-panel.is-open .fold-right::after,
.cd-folding-panel.is-open .fold-left::after {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s 0s, background-color 0.5s 0s;
  -moz-transition: -moz-transform 0.5s 0s, background-color 0.5s 0s;
  transition: transform 0.5s 0s, background-color 0.5s 0s;
}
.cd-folding-panel.is-open .fold-right::after {
  background-color: white;
}
.cd-folding-panel.is-open .cd-close {
  opacity: 1;
  -webkit-transition: opacity 0.2s 0.5s;
  -moz-transition: opacity 0.2s 0.5s;
  transition: opacity 0.2s 0.5s;
}
@media only screen and (min-width: 600px) {
  .cd-folding-panel {
    width: 60%;
  }
}
@media only screen and (min-width: 1100px) {
  .cd-folding-panel {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 75%;
  }
  .cd-folding-panel .fold-left,
  .cd-folding-panel .fold-right {
    width: 50%;
    float: left;
    height: 100%;
  }
  .cd-folding-panel .fold-right {
    /* change perspective-origin so that the 2 fold sides have the same vanishing point */
    -webkit-perspective-origin: 0% 50%;
    -moz-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
  }
  .cd-folding-panel .fold-right::after {
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
    -moz-transform: translateX(-100%) rotateY(-90deg);
    -ms-transform: translateX(-100%) rotateY(-90deg);
    -o-transform: translateX(-100%) rotateY(-90deg);
    transform: translateX(-100%) rotateY(-90deg);
  }
  .cd-folding-panel .fold-left {
    display: block;
    /* change perspective-origin so that the 2 fold sides have the same vanishing point */
    -webkit-perspective-origin: 100% 50%;
    -moz-perspective-origin: 100% 50%;
    perspective-origin: 100% 50%;
  }
  .cd-folding-panel .fold-left::after {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translateX(100%) rotateY(90deg);
    -moz-transform: translateX(100%) rotateY(90deg);
    -ms-transform: translateX(100%) rotateY(90deg);
    -o-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg);
  }
}

.title{
    padding-bottom: 1.5em;
    width: auto;
      -webkit-transition: -webkit-transform 0.2s 0.2s, opacity 0.2s 0.2s;
  -moz-transition: -moz-transform 0.2s 0.2s, opacity 0.2s 0.2s;
  transition: transform 0.2s 0.2s, opacity 0.2s 0.2s;
}



.cd-fold-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 4em 2em;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.4s;
  -moz-transition: visibility 0s 0.4s;
  transition: visibility 0s 0.4s;

}

ul.skills{
    line-height: 2em;
    font-size: 1.2em;
}

.portcontent{
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
}

p.center{
    text-align: center;
    color: black;
}

p a{
    font-size: 1.5em;
    color: black;
    text-decoration: underline;
    font-weight: 300

}

p a:hover{
    opacity:0.7;
}

.small-img{
margin: auto;
width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
}

video.demo-video{
    display: flex;
    width: 60%;
    margin:auto;
}

.head-image{
    width: 100%;
margin: auto;
padding-bottom: 1.5em;
    
      -webkit-transition: visibility 0s 0.4s;
  -moz-transition: visibility 0s 0.4s;
  transition: visibility 0s 0.4s;
    
    
          -webkit-transition: -webkit-transform 0.2s 0.2s, opacity 0.2s 0.2s;
  -moz-transition: -moz-transform 0.2s 0.2s, opacity 0.2s 0.2s;
  transition: transform 0.2s 0.2s, opacity 0.2s 0.2s;
    
    
}

.cd-fold-content > * {
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
}
.cd-fold-content h2 {
  -webkit-transition: -webkit-transform 0.2s 0.2s, opacity 0.2s 0.2s;
  -moz-transition: -moz-transform 0.2s 0.2s, opacity 0.2s 0.2s;
  transition: transform 0.2s 0.2s, opacity 0.2s 0.2s;
    font-family: "Open Sans", sans-serif;
    font-size: 1.4em !important;
    font-weight:300;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.cd-fold-content h3 {
    padding-top: 1em;
}

.cd-fold-content em {
    line-height: 1.6;
  display: inline-block;
    font-family: "Open Sans", sans-serif;
  margin: 1em 0;
    font-weight: 300;
  font-size: 1.8em;
  color: black;
    text-rendering: geometricPrecision;
    border-left: solid;
    padding-left: 1em;
  -webkit-transition: -webkit-transform 0.2s 0.1s, opacity 0.2s 0.1s;
  -moz-transition: -moz-transform 0.2s 0.1s, opacity 0.2s 0.1s;
  transition: transform 0.2s 0.1s, opacity 0.2s 0.1s;
        
}

.cd-fold-content b{
    font-weight: bold;
}

.cd-fold-content p {
  margin-bottom: 1em;
  font-size: .7em;
    
  -webkit-transition: -webkit-transform 0.2s 0s, opacity 0.2s 0s;
  -moz-transition: -moz-transform 0.2s 0s, opacity 0.2s 0s;
  transition: transform 0.2s 0s, opacity 0.2s 0s;
    
    
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 1.1px;
    color: black;
    
}

.is-open .cd-fold-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  visibility: visible;
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s;
}
.is-open .cd-fold-content > * {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.is-open .cd-fold-content h2 {
  -webkit-transition: -webkit-transform 0.2s 0.5s, opacity 0.2s 0.5s;
  -moz-transition: -moz-transform 0.2s 0.5s, opacity 0.2s 0.5s;
  transition: transform 0.2s 0.5s, opacity 0.2s 0.5s;
}
.is-open .cd-fold-content em {
  -webkit-transition: -webkit-transform 0.2s 0.6s, opacity 0.2s 0.6s;
  -moz-transition: -moz-transform 0.2s 0.6s, opacity 0.2s 0.6s;
  transition: transform 0.2s 0.6s, opacity 0.2s 0.6s;
}
.is-open .cd-fold-content p {
  -webkit-transition: -webkit-transform 0.2s 0.7s, opacity 0.2s 0.7s;
  -moz-transition: -moz-transform 0.2s 0.7s, opacity 0.2s 0.7s;
  transition: transform 0.2s 0.7s, opacity 0.2s 0.7s;
}
@media only screen and (min-width: 600px) {
  .cd-fold-content h2 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1100px) {
  .cd-fold-content {
    padding: 4em;
  }
  .cd-fold-content > * {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }

}



keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}




/* -------------------------------- 

TOP SECTION

-------------------------------- */


.top-section{
    height: 22em;
    max-height: 600px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 50%;
    margin: auto;
    max-width: 1000px;
    min-width: 300px;
    
}


.top-section h2 {
    padding-bottom: .5em;
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: .1em;
    font-size: 2.1em;
    color: #333333;

}




.dots {
    position: absolute;
    z-index: 99999;
}

.dots .one-dot {
    background: transparent;
    border: black solid 1px;

}


.dots:hover li {
    
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    opacity: .7;
    

}


.dots li {
  background: black;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  float: left;
  margin: 0 2px;
    margin-right: .4em;
  -webkit-animation: float 1.8s infinite;
          animation: float 1.8s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.dots li:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}
.dots li:nth-child(3) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes float {
  0%, 100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes float {
  0%, 100% {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  50% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}


.top-section p {
    
    
    margin: auto;
    line-height: 1.8em;
    font-family: Montserrat;
    font-weight: 100;
    color: black;
    display: inline-flex;
    padding-top: 1em;
    font-size: 1em;
    letter-spacing: .1em;
}


/* -------------------------------- 

ABOUT animation

-------------------------------- */









/* -------------------------------- 

Javascript disabled

-------------------------------- */
.no-js .cd-fold-content.single-page {
  position: static;
  visibility: visible;
  height: auto;
  background-color: white;
}
.no-js .cd-fold-content.single-page > * {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
